<h2 class="h21">Здраствуйте, Магомедов П. П.</h2>
<h3 class="h3">Виджеты</h3>
<div class="widgets1">
  <div class="data g">
    <h1 class="time"></h1>
    <span>
      <h3 class="data1"></h3>
      <h3 class="day"></h3>
    </span>
  </div>
</div>
<div class="widgets1">
  <div class="wather g">
    <span>
    <h2 class="city"></h2>
    <h2 class="temp"></h2>
  </span>
  <div class="icon"></div>
  </div> 
</div>
<div class="widgets1">
  <div class="valute g">
    <h3 class="valute1">BTC:</h3>
    <p class="valute3"></p>
    <h3 class="valute2">ETH:</h3>
    <p class="valute4"></p>
  </div>
</div>

